<div>
  <ion-item class="item-stable" ng-click="vm.isOpened = !vm.isOpened" ng-class="{active: vm.isOpened}"
    style="background-color: #506990;color:#FFF;">
    <i class="icon" ng-class="vm.isOpened ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
    <strong>Saved Offline</strong>
    <span class="badge"
      ng-class="{'badge-calm':vm.itemCount > 0,'badge-dark':vm.itemCount === 0}">{{vm.itemCount}}</span>
  </ion-item>
  <div ng-if="vm.isOpened">
    <div class="card" ng-repeat="odr in vm.savedItemsArray">
      <div class="item item-divider">
        <small style="float:left;"><i class="icon ion-calendar"></i>&nbsp;{{::odr.WorkPerformedDate | date:'EEEE dd
                  MMM'}}</small>
        <small style="float:right;"><i
            class="icon ion-clock"></i>&nbsp;{{::odr.WorkPerformedDate | date:'hh:mm a'}}</small>
      </div>
      <div class="item item-text-wrap">
        <span class="label label-success">{{::odr.BarcodeName}}</span>
        <div class="padding-top">
          <h3>{{::odr.DisplayName}}</h3>
          <address>
            <p>
              <strong>{{::odr.Company_Name}}</strong>
            </p>
            <p>{{::odr.Street}}</p>
            <p>{{::odr.CityStateZip}}</p>
            <p data-ng-if="odr.WorkOrderDescription">
              <small class="text-italic text-muted">
                <i><strong>Description : </strong>{{::odr.WorkOrderDescription}}</i>
              </small>
            </p>
          </address>
        </div>
      </div>
      <div class="item item-divider">
        <button class="button button-small button-energized" type="button" data-ng-click="vm.events.syncChanges(odr)"
          style="color:black;">
          <i class="icon ion-android-upload"></i> Sync Changes
        </button>
        <button class="button button-small button-assertive" data-ng-click="vm.events.deleteOrder(odr)">
          <i class="icon ion-trash-a"></i>
        </button>
        <button class="button  button-small button-calm pull-right" data-ng-click="vm.events.goToOfflineOrder(odr)">
          <i class="icon ion-chevron-right"></i>
        </button>
      </div>
      </ion-card>
    </div>

  </div>
</div>
