<ion-header-bar>
  <h1 class="title">
    <span>Edit</span> Quantity
  </h1>
  <button class="button" data-ng-click="vm.events.closeContainerModal()">
    Cancel
  </button>
</ion-header-bar>
<ion-content>
  <form action="" name="editContainerForm">
    <div class="list">
      <div class="padding">
        <h4 ng-bind="vm.container.containerName"></h4>
      </div>
      <label class="item item-input">
        <div class="input-label">
          QOH
        </div>
        <input type="number" class="transparent-background" mobiscroll-numpad="{display: 'bottom',min:0,scale:0,min:0,max:9999,preset:'decimal'}"
          placeholder="QOH" ng-model="vm.container.qoh" />
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="vm.events.updateProductQuantity(vm.container)" type="button">
          <span>Update</span>
        </button>
      </div>
    </div>
  </form>
</ion-content>
