<ion-content>
  <div class="item item-input item-select">
    <div class="input-label">
      Containers
    </div>
    <select data-ng-options="cont as cont.containerName for cont in vm.containers" data-ng-model="vm.container" data-ng-change="vm.events.onSelectedContainerChange()"></select>
  </div>
  <div class="text-center padding-top" data-ng-if="vm.loadingContainers">
    <ion-spinner icon="ripple"></ion-spinner>
  </div>
  <div data-ng-if="vm.products.length > 0" data-ng-repeat=" p in vm.products ">
    <div class="row n-p-b n-m-b">
      <div class="col col-30 ">
        <h5>{{::p.productName}}</h5>
      </div>
      <div class="col col-10">
        <h5 class="pull-right">
          <strong>{{p.quantity}}</strong>
        </h5>
      </div>
      <div class="col col-30">
        <button type="button" class="button icon ion-edit button-small text-energized" style="margin-left:30px;float:left;" data-ng-click="vm.events.editProductClick(p)"
          data-ng-if="!vm.isServiceProvider"></button>
        <button type="button" class="button icon ion-plus button-small text-balanced" style="margin-left:3px;" data-ng-click="vm.events.increaseQuantity(p)"
          data-ng-if="!vm.isServiceProvider"></button>
        <button type="button" class="button icon ion-minus button-small text-assertive" data-ng-click="vm.events.decreaseQuantity(p)"
          data-ng-if="!vm.isServiceProvider"></button>
      </div>
    </div>
  </div>
  <div class="list" data-ng-if="vm.products.length == 0 && vm.container!=null && !vm.loadingContainers">
    <li class="item item-text-wrap text-center">
      <small class="text-muted">no product found with
        <strong data-ng-bind="vm.container.containerName"></strong>
      </small>
    </li>
  </div>
</ion-content>
<script id="editProductModal.html" type="text/ng-template">
  <ion-modal-view>
    <edit-container-product-component data-product="vm.currentProduct"></edit-container-product-component>
  </ion-modal-view>
</script>
