<ion-list can-swipe="true">
	<div>
		<ion-item class="item-stable" ng-click="vm.isExpanded = !vm.isExpanded" ng-class="{active: vm.isExpanded}">
			<i class="icon" ng-class="vm.isExpanded ? 'ion-minus' : 'ion-plus'"></i> &nbsp; <strong>Uploaded Images</strong>
		</ion-item>
		<div data-ng-if="vm.isExpanded">
			<ion-list>
				<ion-item class="item-text-wrap p-10" data-ng-repeat="p in vm.barcodeImages">
                    {{p.imageURL | removeExt}}
					<ion-option-button class="button-assertive" ng-click="vm.events.onDeleteImageClicked(p)">
						Delete
					</ion-option-button>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-list>