<!--<ion-list>
	<div>
		<ion-item class="item-stable" ng-click="vm.isExpanded = !vm.isExpanded" ng-class="{active: vm.isExpanded}">
			<i class="icon" ng-class="vm.isExpanded ? 'ion-minus' : 'ion-plus'"></i> &nbsp; <strong>Images</strong>
			<span class="badge badge-dark">{{vm.barcodeImages.length}}</span>
		</ion-item>
		<div data-ng-if="vm.isExpanded">
			<div class="card">
				<div class="item item-body">
					<input type="file" data-kendo-upload="vm.upload.control" data-k-options="vm.upload.options" />
				</div>
			</div>
			<ion-list can-swipe="true">
				<ion-item class="item-text-wrap" data-ng-repeat="p in vm.barcodeImages" data-ng-click="vm.events.onImageTap(p)">
					{{p.imageURL | removeExt}}
					<ion-option-button class="button-assertive" ng-click="vm.events.onDeleteImageClicked(p)">
						Delete
					</ion-option-button>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-list>-->
<div class="card">
	<div class="item item-divider header-dark">
		IMAGES
		<small class="badge badge-dark" data-ng-bind="vm.barcodeImages.length"></small>
	</div>
	<div class="item item-body">
		<div class="row">
			<div class="col">
				<input type="file" data-kendo-upload="vm.upload.control" data-k-options="vm.upload.options" />
			</div>
			<div class="col">
				<button class="button button-block button-small button-positive" data-ng-click="vm.events.takePictureClicked()">
					<i class="icon ion-camera"></i> Take Picture</button>
			</div>
		</div>
	</div>
	<ion-list can-swipe="true">
		<ion-item class="item-text-wrap" data-ng-repeat="p in vm.barcodeImages">
			<a data-ng-click="vm.events.onImageTap(p)">
				<strong>
					<i class="icon ion-plus-circled"></i>
				</strong>&nbsp;{{p.imageURL | removeExt}}</a>
			<button type="button" class="button icon ion-trash-b button-small text-assertive pull-right" style="margin-top: -5px;" ng-click="vm.events.onDeleteImageClicked(p,$index)"></button>
		</ion-item>
	</ion-list>
</div>