<ion-header-bar>
    <h1 class="title">Exit Kiosk</h1>
    <button class="button" ng-click="vm.events.closeKioskModal()">
        Cancel
    </button>
</ion-header-bar>
<ion-content>
    <form name="kioskExitForm" role="form" novalidate="novalidate">
        <div class="list padding-top">
            <label class="item item-input item-stacked-label no-border-top">
                <span class="input-label">Login password</span>
                <input
                    type="password"
                    placeholder="password..."
                    name="exitPassword"
                    maxlength="30"
                    required
                    ng-model="vm.exitPassword"
                    spellcheck="false"
                    autofocus
                />
            </label>
            <div class="padding">
                <button
                    class="button button-block button-assertive"
                    ng-disabled="kioskExitForm.$invalid"
                    ng-click="vm.events.exitKioskMode(kioskExitForm.$valid)"
                >
                    Exit Kiosk
                </button>
            </div>
        </div>
    </form>
</ion-content>
