<div class="card expanded-radius-{{vm.isExpanded}}" style="padding-top: 0px;padding-bottom: 0px;">
  <!-- TIME PICKER -->
  <!-- ============================================================================== -->
  <input ng-model="vm.timePicker.currentTime" mobiscroll-datetime="vm.timePicker.settings"
    ng-change="vm.timePicker.onTimeNewPicked()" mobiscroll-instance="vm.timePicker.instance" class="hidden" />
  <!-- ============================================================================== -->

  <div style="border-bottom: 2px solid #d4d4d4; background-color: #f9f9f9;">
    <div class="row" style="
        background-color: #d4d4d4;
        color: #404040 !important;
        font-size: 16px;
              ">
      <div class="col">
        TIMECARD
      </div>
      <div class="col content-right card-actions m-r-10">
        <a on-tap="vm.isExpanded = !vm.isExpanded"><i class="icon"
            ng-class="vm.isExpanded ? 'ion-minus' : 'ion-plus'"></i></a>
      </div>
      <!-- <div class="col">
        <strong ng-bind="vm.userName" style="margin-left: 5px;"></strong>
      </div> -->
    </div>
    <!-- <div class="row" style="display: flex; align-items: center;">
      <div class="col" style="height: 51px;display: flex;align-items: flex-end;">
        <strong style="margin-left: 5px;">
          <h4><span style="font-weight: 600;" ng-bind="vm.userName"></span></h4>
        </strong>

      </div>
      <div class="col" style="
          font-size: 1.2rem;
          display: flex;
          justify-content: flex-end;
          margin-right: 5px;
        ">
        <input ng-model="vm.currentDate" ng-model-options="{debounce:300}" mobiscroll-date="vm.data.calendar.settings"
          ng-change="vm.data.events.onCurrentDateChanged()" mobiscroll-instance="vm.data.calendar.control"
          class="hidden" />
        <div>
          <strong>
            <div style="font-size: 11px;">
              <span>Timecard Date</span>
            </div>
            <a ng-click="vm.data.events.onShowCalenderClick($event)" ng-if="vm.canChangeTimecardDate">
              <span class="icon-center ion-clock"></span>
              <fp-date-time-renderer model-val="vm.currentDate" type="date" format="vm.dateFormat">
              </fp-date-time-renderer>
              <i class="icon ion-arrow-down-b"></i>
            </a>
            <span ng-if="!vm.canChangeTimecardDate">
              <span class="icon-center ion-clock"></span>
              <fp-date-time-renderer model-val="vm.currentDate" type="date" format="vm.dateFormat">
              </fp-date-time-renderer>
            </span>
          </strong>
        </div>
      </div>
    </div> -->
    <div class="row" ng-if="vm.isExpanded">
      <div class="col center center-element" ng-if="!vm.data.isClockedIn">
        <button class="button icon-center ion-clock button-block button-positive button-small"
          on-tap="vm.data.events.clockInClick()"
          ng-disabled="vm.data.disableClockInButton || (vm.data.approvalStatus != 0 && vm.data.approvalStatus != 2)">
          &nbsp;Clock In
        </button>

        <!-- <div ng-if="vm.data.isClockedIn">
          <h5 class="m-t-b-2 n-m-b font-large">
            <span class="icon-center ion-clock"></span>&nbsp;<span
              ng-bind="vm.data.clockInDateTime | date:'hh:mm a'"></span>
          </h5>
          <span class="label label-primary" style="background-color: #387ef5;">Clock In</span>
        </div> -->
      </div>
      <!-- <div class="col center">
        <button class="button icon-center ion-clock button-block button-positive button-small"
          ng-if="!vm.data.isClockedOut"
          ng-disabled="!vm.data.isClockedIn || vm.data.disableClockOutButton || (vm.data.approvalStatus != 0 && vm.data.approvalStatus != 2)"
          on-tap="vm.data.events.clockOutClick(null, null)">
          &nbsp;Clock Out
        </button>
      </div> -->
      <div class="col center"
        ng-if="vm.data.addTimeVisibility && (vm.data.approvalStatus === 0 || vm.data.approvalStatus === 2)">
        <button class="button pull-right button-small button-icon icon ion-android-more-vertical"
          style="margin-top: 15px;" on-tap="vm.data.events.showPopoverClicked($event)"></button>
      </div>
    </div>
    <!-- <div class="row" ng-if="
        vm.data.allowSendForApproval &&
        vm.data.approvalStatus === 0 &&
        vm.data.timeCards.length > 0
      ">
      <div class="col">
        <button class="button button-positive button-small button-block" ng-click="vm.data.events.sendForApproval(1)">
          Send for Approval
        </button>
      </div>
    </div> -->
    <div class="list" ng-if="vm.isExpanded">
      <div class="alert alert-info" ng-if="vm.data.approvalStatus !== 0 && vm.data.approvalStatus !== 4">
        <span>
          <strong>This timecard is/being approved and cannot be edited.
          </strong>
        </span>
      </div>
      <div class="card" ng-repeat="(key,t) in vm.data.timecard.timeCardDetails">
        <div class="item item-divider" ng-if="t.jobCode !== 5001" style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          ">
          <div class="row p-0">
            <div class="col p-0 col-33">
              <span ng-if="t.jobCode != 5001" style="font-size: 14px; font-weight: 500;">{{ t.jobCodeName }}</span>
            </div>
            <div class="col p-0">
              <span ng-if="!t.isPtoType && t.jobCode != 5001 && t.barcode != 0"
                style="font-size: 14px; font-weight: 500;">{{ t.barcodeName }}</span>
            </div>
            <div class="col p-0 col-25">
              <span style="font-size: 14px;"
                ng-if="t.scheduleDisplayNum && t.scheduleDisplayNum !== 0">#{{::t.scheduleDisplayNum}}</span>
              <a class="button pull-right button-small button-icon icon ion-android-more-vertical button-small item-divider-left-buttion"
                ng-click="vm.data.events.onCardActionClicked(t)" ng-if="
                  vm.data.approvalStatus === 0 || vm.data.approvalStatus === 2
                "></a>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap" ng-class="{
            'clockin-item': t.jobCode == 5001,
            'timecard-checkin-item': t.jobCode != 5001
          }">
          <div class="row">
            <div class="col col-33 col-center">
              <h5>
                <i class="icon ion-clock"></i>
                <span class="text13 font-bold" ng-if="t.jobCode === 5001">Clock In</span>
                <span class="text13 font-bold" ng-if="t.jobCode !== 5001">Check In</span>
              </h5>
            </div>
            <div class="col col-33">
              <h5>
                <i class="icon ion-clock"></i>
                <span class="text13 font-bold" ng-if="t.jobCode === 5001">Clock Out</span>
                <span class="text13 font-bold" ng-if="t.jobCode !== 5001">Check Out</span>
              </h5>
            </div>
            <div class="col col-33">
              <h5><i class="icon ion-clock"></i> <span class="text13 font-bold">Total Time</span></h5>
            </div>
          </div>
          <div class="row">
            <div class="col col-33 col-center" ng-class="{
                'div-disabled': vm.timecardAccessLevel == 1 && t.jobCode == 5001
              }">
              <a ng-click="vm.timePicker.onTimeClicked(t,true)">
                <h3 ng-bind="t.startTime | date :'MM/dd h:mm a'"></h3>
              </a>
            </div>
            <div class="col col-33 col-center">
              <button ng-if="!t.finishTime && t.jobCode != 5001" class="button button-small button-calm"
                ng-click="vm.timePicker.onTimeClicked(t,false)">
                Check out
              </button>
              <button ng-if="!t.finishTime && t.jobCode === 5001" class="button button-small button-clock-out"
                ng-click="vm.timePicker.onTimeClicked(t,false)" ng-disabled="vm.timecardAccessLevel===1">
                Clock out
              </button>
              <div ng-class="{
                  'div-disabled':
                    vm.timecardAccessLevel == 1 && t.jobCode == 5001
                }">
                <a ng-click="vm.timePicker.onTimeClicked(t,false)">
                  <h3 ng-if="t.finishTime" ng-bind="t.finishTime | date :'MM/dd h:mm a'"></h3>
                </a>
              </div>
            </div>
            <div class="col col-33">
              <div style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                ">
                <div ng-class="{ 'div-disabled': vm.timecardAccessLevel === 1 }">
                  <h3 ng-bind="t.startTime | timeSpan:t.finishTime:'sm'"></h3>
                </div>
                <!-- <div ng-class="{ 'div-disabled': vm.timecardAccessLevel == 1 }" ng-if="
                    t.finishTime &&
                    t.jobCode === 5001 &&
                    (vm.data.approvalStatus == 0 || vm.data.approvalStatus == 2)
                  ">
                  <a class="button pull-right button-small button-icon icon ion-android-more-vertical button-small item-divider-left-buttion"
                    ng-click="vm.data.events.onClockInOutActionClicked(t)"></a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <h5 class="text-muted" ng-if="t.notes">
              <strong>NOTE</strong> <span ng-bind="t.notes"></span>
            </h5>
          </div>
          <div class="item item-text-wrap p-0" ng-if="t.jobCode == 5001 && vm.data.checkInOuts.length > 0">
            <div class="row">
              <div class="col col-67 col-center" style="text-align: right;">
                <h5>
                  <i class="icon ion-clock"></i>
                  <span class="text13 font-bold">Total Check In/Out:</span>
                </h5>
              </div>
              <div class="col col-33 col-center">
                <h5>
                  <span style="font-size: 13px;">{{::vm.data.totalCheckinTime[t.clockInNum]}}</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script id="timecard-popover.html" type="text/ng-template">
  <ion-popover-view>
        <ion-content>
            <div class="list">
                <!-- <a ng-if="vm.data.ptoButtonVisibility  && (vm.data.approvalStatus == 0 || vm.data.approvalStatus == 2)" ng-click="vm.events.addTimeClick(true)"
                    class="item">Add PTO</a> -->
                <a ng-if="vm.data.addTimeVisibility && (vm.data.approvalStatus == 0 || vm.data.approvalStatus == 2)" ng-click="vm.data.events.addTimeClick(false)"
                    class="item">Add Time</a>
                <!-- <a class="item" ng-click="vm.data.events.checkSummaryClick()">Check Summary</a> -->
            </div>
        </ion-content>
    </ion-popover-view>
</script>
<script id="timecardDetailsModal.html" type="text/ng-template">
  <ion-modal-view>
        <add-edit-details-component on-cancel-clicked="vm.data.events.onModalCancelClicked()" 
        on-add-completed="vm.data.events.onAddScheduleCompleted(o)" 
        based-on="workOrder" schedule="vm.schedule"></add-edit-details-component>
      </ion-modal-view>
</script>
