<div class="list equipment-customtypes">
    <div data-ng-repeat="ct in vm.customTypes.data" data-ng-switch="ct.type">
        <label class="item item-input" data-ng-switch-when="1">
            <span class="input-label" data-ng-bind="ct.title"></span>
            <input type="text" data-ng-model="ct.value" maxlength="100" placeholder="enter text here" data-ng-change="vm.events.onValueChanged(ct)"
                data-ng-model-options="{debounce:500}" />
        </label>
        <ion-list data-ng-switch-when="2">
            <div class="item item-divider">
                <span data-ng-bind="ct.title"></span>
            </div>
            <ion-radio name="{{ct.title}}" ng-model="ct.value" data-ng-change="vm.events.onValueChanged(ct)" ng-value="'Yes'">Yes</ion-radio>
            <ion-radio name="{{ct.title}}" ng-model="ct.value" data-ng-change="vm.events.onValueChanged(ct)" ng-value="'No'">No</ion-radio>
        </ion-list>
        <span data-ng-switch-when="3">
            <ion-toggle toggle-class="toggle-balanced" data-ng-model="ct.value" data-ng-change="vm.events.onValueChanged(ct)">
                <span class="input-label" data-ng-bind="ct.title"></span>
            </ion-toggle>
        </span>
        <label class="item item-input" data-ng-switch-when="4">
            <span class="input-label" data-ng-bind="ct.title"></span>
            <input type="text" placeholder="select date" readonly="" class="transparent-background text-right" data-ng-change="vm.events.onValueChanged(ct,true)"
                data-mobiscroll-date="{display: 'bottom', dateFormat: 'mm/dd/yy'}" data-ng-model="ct.value" />
        </label>
        <span data-ng-switch-when="5">
            <table style="width:100%">
                <tr>
                    <td style="width:50%;padding-left:15px;">
                        <span class="input-label" style="max-width: 300px;width:100%;" data-ng-bind="ct.title"></span>
                    </td>
                    <td>
                        <div style="padding:5px">
                            <jobtype-upload-component data-ct-entity="ct" from-equipments="true" use-entity-id="vm.entityId"></jobtype-upload-component>
                        </div>
                    </td>
                </tr>
            </table>
        </span>
        <label class="item item-input" data-ng-switch-when="6">
            <textarea data-ng-model="ct.value" maxlength="100" placeholder="{{ct.title}}" rows="3" data-ng-change="vm.events.onValueChanged(ct)"
                data-ng-model-options="{debounce:500}"></textarea>
        </label>
    </div>
</div>