<ion-list>
    <div>
        <ion-item class="item-stable" ng-click="vm.isExpanded = !vm.isExpanded" ng-class="{active: vm.isExpanded}">
            <i class="icon" ng-class="vm.isExpanded ? 'ion-minus' : 'ion-plus'"></i> &nbsp; <strong>Equipments</strong>
        </ion-item>
        <div data-ng-if="vm.isExpanded">
            <div class="card">
                <div class="item item-text-wrap">
                    <h4>
                        <strong>Equipment Name/Number :</strong><span data-ng-bind="vm.view.currentEquip.equipmentNumber"></span>
                    </h4>
                    <h6 class="text-muted">
                        <strong>Description :</strong><span data-ng-bind="vm.view.currentEquip.description"></span>
                    </h6>
                </div>
                <equipment-custom-type-list-component barcode="vm.barcode" entity-id="vm.view.currentEquip.num"></equipment-custom-type-list-component>
            </div>
        </div>
    </div>
</ion-list>