<ion-header-bar>
	<h1 class="title">Search Product</h1>
</ion-header-bar>
<ion-header-bar class="bar-subheader item-input-inset">
	<label class="item-input-wrapper" focus-me="">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" name="searchBox" placeholder="Search" ng-change="vm.searchApplied = false" data-ng-model-options="{debounce:600}"
		 ng-model="vm.searchValue" />
	</label>
	<button class="button button-positive" style="margin-right:60px;" ng-disabled="vm.runningSearch" data-ng-click="vm.events.applySearch(true)">
		Search
	</button>
	<button class="button" data-ng-click="vm.events.closeSearchModal()">
		Cancel
	</button>
</ion-header-bar>
<ion-content>
	<div class="text-center padding-top" data-ng-if="vm.runningSearch">
		<ion-spinner icon="ripple"></ion-spinner>
	</div>
	<div class="list" id="searchProductsList" data-ng-if="vm.products.length > 0">
		<div class="item" ng-repeat="p in vm.products" on-tap="vm.events.onProductItemClicked(p)">
			{{::p.productName}}
			<span class="item-note" data-ng-if="vm.user.showPrice">
				<fpcurrency-renderer model-val="p.price">
					</fpcurrencyRenderer>
			</span>
			<p class="search-product-description" ng-bind="p.productDescription"></p>
		</div>
	</div>
	<div class="list" data-ng-if="vm.products.length == 0 && vm.searchApplied  && !vm.runningSearch">
		<li class="item item-text-wrap text-center">
			<small class="text-muted">no product found with
				<strong ng-bind="vm.searchValue"></strong>
			</small>
		</li>
	</div>
</ion-content>
<ion-footer-bar class="bar bar-footer bar-dark" align-title="center" ng-if="vm.showingLessCount">
	<div class="title" style="display: flex;flex: 1;justify-content: center;">
		<small>total
			<strong ng-bind="vm.totalCount"></strong>
			products found, showing
			<strong>200</strong>
		</small>
	</div>
</ion-footer-bar>