<ion-view title="{{vm.barCodeData.barcodeDetails.barcodeName}}" cache-view="false" hide-back-button="true" align-title="center"
  view-title="{{vm.barCodeData.barcodeDetails.barcodeName}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div class="list padding-top" ng-if="vm.errors.length > 0">
      <div class="error">
        <ui class="list-unstyled">
          <li ng-repeat="error in vm.errors">{{::error}}</li>
        </ui>
      </div>
    </div>
    <ion-tabs class="tabs-dark tabs-icon-top">
      <ion-tab title="DESCRIPTION" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
        <ion-content>
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.tabs.desc.events.refreshOnPullDown()">
          </ion-refresher>
          <div>
            <div class="padding-top">
              <div class="card">
                <div class="list">
                  <div class="item item-divider header-dark">
                    SERVICE ADDRESS
                  </div>
                  <div class="item">
                    <span class="label label-success">{{::vm.barCodeData.barcodeDetails.barcodeName}}</span>
                    <div class="padding-top">
                      <h2 class="n-m-b">{{::vm.barCodeData.barcodeDetails.displayName}}</h2>
                      <address>
                        <p>
                          <strong>{{::vm.barCodeData.barcodeDetails.company_Name}}</strong>
                        </p>
                        <p>{{::vm.barCodeData.barcodeDetails.shipStreet}}</p>
                        <p>{{::vm.barCodeData.barcodeDetails.shipCity}}, {{::vm.barCodeData.barcodeDetails.shipState}}&nbsp;{{::vm.barCodeData.barcodeDetails.shipZIP}}
                        </p>
                        <p ng-if="vm.barCodeData.barcodeDetails.phone">
                          <span>Phone: </span>
                          <span>
                            <i class="icon ion-android-call"></i>&nbsp;
                            <a href="tel:{{::vm.barCodeData.barcodeDetails.phone}}">{{::vm.barCodeData.barcodeDetails.phone}}</a>
                          </span>
                        </p>
                        <p ng-if="vm.barCodeData.barcodeDetails.mobile">
                          <span>Mobile: </span>
                          <span>
                            <i class="icon ion-android-call"></i>&nbsp;
                            <a href="tel:{{::vm.barCodeData.barcodeDetails.mobile}}">{{::vm.barCodeData.barcodeDetails.mobile}}</a>
                          </span>
                        </p>
                        <p ng-if="vm.barCodeData.barcodeDetails.contactInfo">Contact Info :
                          <span>{{::vm.barCodeData.barcodeDetails.contactInfo}}</span>
                        </p>
                        <button class="button button-block button-small button-positive" ng-click="vm.tabs.desc.events.onAddressTapped()">
                          <i class="ion ion-ios-location"></i>&nbsp;Show on Google Map
                        </button>
                      </address>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="item item-divider header-dark">
                  ORDER INFO
                </div>
                <div class="padding">
                  <p ng-if="vm.barCodeData.barcodeDetails.excptns">
                    <h5>
                      <strong class="text-muted">Job Type</strong>
                      <span class="pull-right">{{::vm.barCodeData.barcodeDetails.excptns}}</span>
                    </h5>
                  </p>
                  <p ng-if="vm.barCodeData.barcodeDetails.priority">
                    <h5>
                      <strong class="text-muted">Priority</strong>
                      <span class="pull-right">{{::vm.barCodeData.barcodeDetails.priority}}</span>
                    </h5>
                  </p>
                  <p ng-if="vm.barCodeData.barcodeDetails.classId">
                    <h5>
                      <strong class="text-muted">Class</strong>
                      <span class="pull-right">{{::vm.barCodeData.barcodeDetails.class_Name}}</span>
                    </h5>
                  </p>
                  <!-- <p ng-if="vm.barCodeData.barcodeDetails.poNum">
                    <h5>
                      <strong class="text-muted">PO Number</strong>
                      <span class="pull-right">{{::vm.barCodeData.barcodeDetails.poNum}}</span>
                    </h5>
                  </p> -->
                </div>
              </div>
              <div class="card">
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label" ng-bind="vm.poHeading"></span>
                    <input type="text" maxlength="50" ng-model="vm.barCodeData.barcodeDetails.poNum" ng-model-options="{debounce:500}" ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged()">
                  </label>
                  <label class="item item-input">
                    <span class="input-label" ng-bind="vm.uiSettings.customField2Label"></span>
                    <input type="text" maxlength="50" ng-model="vm.barCodeData.barcodeDetails.customType2Val" ng-model-options="{debounce:500}"
                      ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged()">
                  </label>
                  <label class="item item-input">
                    <span class="input-label" ng-bind="vm.uiSettings.customField3Label"></span>
                    <input type="text" maxlength="50" ng-model="vm.barCodeData.barcodeDetails.customType3Val" ng-model-options="{debounce:500}"
                      ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged()">
                  </label>
                </div>
              </div>
              <div class="card">
                <div class="item item-divider header-dark">
                  WORK DESCRIPTION
                  <a class="icon ion-ios-browsers-outline pull-right font25 pointer" on-tap="vm.tabs.events.popoutTextBox('DESCRIPTION')"></a>
                </div>
                <div class="list">
                  <div class="item item-input">
                    <textarea cols="30" rows="10" ng-model="vm.barCodeData.barcodeDetails.comment_1" ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged('desc')"
                      ng-disabled="!vm.user.allowUserToEditWoDescription" ng-model-options="{debounce:500}" placeholder="enter work description here..."></textarea>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="item item-divider header-dark">
                  RESOLUTION
                  <div class="pull-right">
                    <a class="icon ion-refresh font25 pointer" style="margin-right: 10px;" on-tap="vm.tabs.desc.events.reloadWorkResolution()"></a>
                    <a class="icon ion-ios-browsers-outline font25 pointer" on-tap="vm.tabs.events.popoutTextBox('RESOLUTION')"></a>
                  </div>
                </div>
                <div class="list">
                  <div class="item item-input">
                    <textarea cols="30" rows="10" ng-model="vm.barCodeData.barcodeDetails.comment_2" ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged()"
                      ng-model-options="{debounce:500}" placeholder="enter work resolution here..."></textarea>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="item item-divider header-dark">
                  COMMENTS
                  <div class="pull-right">
                    <a class="icon ion-ios-browsers-outline font25 pointer" on-tap="vm.tabs.events.popoutTextBox('COMMENTS')"></a>
                  </div>
                </div>
                <div class="list">
                  <div class="item item-input">
                    <textarea cols="30" rows="10" ng-model="vm.barCodeData.barcodeDetails.comment_4" ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged()"
                      ng-model-options="{debounce:500}" placeholder="enter comments here..."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </ion-content>
      </ion-tab>
      <ion-tab title="SCHEDULE" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
        <ion-content>
          <div class="card">
            <div class="item item-divider header-dark">
              SCHEDULE START AND END
            </div>
            <div class="item item-text-wrap">
              <p class="n-m-b">
                <strong>Schedule Start</strong>
              </p>
              <!-- <p>{{vm.schedule.scheduledStartDateTime | date:'MM/dd/yyyy hh:mm a'}}</p> -->
              <fp-date-time-renderer model-val='vm.schedule.scheduledStartDateTime' type="datetime" format='vm.dateTimeFormat'></fp-date-time-renderer>
              <p class="n-m-b">
                <strong>Schedule End</strong>
              </p>
              <!-- <p>{{vm.schedule.scheduledFinishDateTime | date:'MM/dd/yyyy hh:mm a'}}</p> -->
              <fp-date-time-renderer model-val='vm.schedule.scheduledFinishDateTime' type="datetime" format='vm.dateTimeFormat'></fp-date-time-renderer>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider header-dark">
              ACTUAL SCHEDULE START AND END
              <!--<a class="button pull-right button-small button-icon icon ion-android-more-vertical button-small item-divider-left-buttion white"
                ng-if="vm.uiSettings.billingOption == 0" ng-click="vm.tabs.sch.events.onScheduleActionButtonClicked()"></a>-->
            </div>
            <div class="row" ng-if="vm.schedule.approve">
              <div class="col">
                <div class="alert alert-info">
                  <span>This schedule has been approved and cannot be edited.</span>
                </div>
              </div>
            </div>
            <div class="col" ng-if="vm.uiSettings.timerEnabled && vm.uiSettings.billingOption == 0">
              <work-order-timer-component is-checked-in="vm.schedule.checkInStatus" is-checked-out="vm.schedule.checkOutStatus" schedule="vm.schedule"></work-order-timer-component>
            </div>
            <div class="list" ng-if="vm.uiSettings.billingOption == 0">
              <div>
                <div class="item item-input item-stacked-label" style="border-bottom: 0px !important;">
                  <span class="input-label">Actual Start Time</span>
                </div>
                <div class="item" style="border-top:0px !important;padding-top: 0px !important;">
                  <div style="width: 65%;float: left;">
                    <!-- <input type="text" ng-if="!vm.schedule.approve" class="transparent-background" mobiscroll-datetime="{display: 'bottom', dateFormat: 'mm/dd/yy', timeFormat: 'hh:ii A',onSelect:vm.scheduleTimeSpan.onStartDateTimeChaged}"
                      ng-model="vm.schedule.actualStartDateTime" placeholder="tap here to select..." /> -->
                      <fp-date-time-component ng-if="!vm.schedule.approve" model-val="vm.schedule.actualStartDateTime" type="datetime" on-date-changed="vm.scheduleTimeSpan.onStartDateTimeChaged()" format="vm.dateTimeFormat" default-text="tap here to select..."></fp-date-time-component>
                    <!-- <input type="text" ng-if="vm.schedule.approve" class="transparent-background" disabled ng-model="vm.schedule.actualStartDateTimeString"
                    /> -->
                    <fp-date-time-renderer ng-if="vm.schedule.approve" model-val="vm.schedule.actualStartDateTimeString" format='vm.dateTimeFormat' type="datetime"></fp-date-time-renderer>
                  </div>
                  <div style="width: 35%;float: left;">
                    <button class="button button-small button-assertive" ng-disabled="vm.schedule.approve" ng-click="vm.tabs.sch.events.clearAllDateTimeSelection(true)">
                      <i class="icon ion-ios-trash-outline"></i>
                    </button>
                    <button type="button" class="button button-small button-positive" ng-disabled="vm.schedule.approve || vm.schedule.checkInStatus"
                      ng-click="vm.tabs.sch.events.checkIn()">
                      <i class="ion ion-clock"></i>&nbsp;Check In
                    </button>
                  </div>
                </div>
                <div class="item item-input item-stacked-label" style="border-bottom: 0px !important;">
                  <span class="input-label">Actual Finish Time</span>
                </div>
                <div class="item" style="border-top:0px !important;padding-top: 0px !important;">
                  <div style="width: 65%;float: left;">
                    <!-- <input type="text" ng-if="!vm.schedule.approve" class="transparent-background" mobiscroll-datetime="{display: 'bottom', dateFormat: 'mm/dd/yy', timeFormat: 'hh:ii A',onSelect:vm.scheduleTimeSpan.onEndDateTimeChanged}"
                      ng-model="vm.schedule.actualFinishDateTime" placeholder="tap here to select..." /> -->
                      <fp-date-time-component ng-if="!vm.schedule.approve" model-val="vm.schedule.actualFinishDateTime" type="datetime" on-date-changed="vm.scheduleTimeSpan.onEndDateTimeChanged()" format="vm.dateTimeFormat" default-text="tap here to select..."></fp-date-time-component>
                    <!-- <input type="text" ng-if="vm.schedule.approve" class="transparent-background" disabled ng-model="vm.schedule.actualFinishDateTimeString"
                    /> -->
                    <fp-date-time-renderer ng-if="vm.schedule.approve" model-val="vm.schedule.actualFinishDateTimeString" format='vm.dateTimeFormat' type="datetime"></fp-date-time-renderer>
                  </div>
                  <div style="width: 35%;float: left;">
                    <button class="button button-small button-assertive" ng-disabled="vm.schedule.approve" ng-click="vm.tabs.sch.events.clearAllDateTimeSelection(false)">
                      <i class="icon ion-ios-trash-outline"></i>
                    </button>
                    <button type="button" class="button button-small button-positive" ng-disabled="vm.schedule.approve || vm.schedule.checkOutStatus"
                      ng-click="vm.tabs.sch.events.checkOut()">
                      <i class="ion ion-clock"></i>&nbsp;Check Out
                    </button>
                  </div>
                </div>
                <label class="item item-input">
                  <span class="input-label">Total Time</span>
                  <input type="text" ng-if="!vm.schedule.approve" class="transparent-background text-right" placeholder="Total Time" mobiscroll-timespan="{display: 'bottom',preset:'timespan',wheelOrder: 'hhii',onSelect:vm.scheduleTimeSpan.onTimespanSeletionChanged}"
                    ng-model="vm.scheduleTimeSpan.timeSpan" />
                  <input type="text" ng-if="vm.schedule.approve" class="transparent-background text-right" disabled placeholder="Total Time"
                    ng-model="vm.scheduleTimeSpan.timeSpan" />
                </label>
                <label class="item item-input">
                  <textarea name="" id="" rows="6" placeholder="enter trip note here..." ng-model="vm.schedule.tripNote" ng-change="vm.tabs.sch.events.onTripnoteChanged()"
                    ng-model-options="{debounce:500}"></textarea>
                </label>
                <div class="padding" ng-if="vm.uiSettings.isTimeCardModuleEnabled">
                  <button class="button button-block button-small button-dark" ng-click="vm.tabs.sch.events.pushToTimecard()">
                    <i class="ion ion-clock"></i>&nbsp;Push to Timecard
                  </button>
                </div>
              </div>
              <div ng-if="vm.uiSettings.billingOption == 0 && vm.uiSettings.isRouteTimeOptionChecked">
                <div class="item item-divider tem-bg-gray">
                  In Route Details
                </div>
                <div class="item item-input item-stacked-label">
                  <span class="input-label">In Route Start</span>
                  <!-- <input type="text" ng-if="!vm.schedule.approve" class="transparent-background" mobiscroll-datetime="{display: 'bottom', dateFormat: 'mm/dd/yy', timeFormat: 'hh:ii A',onSelect:vm.scheduleTimeSpan.onInRouteTImeChanged}"
                    ng-model="vm.schedule.inRouteStartTime" /> -->
                    <fp-date-time-component ng-if="!vm.schedule.approve" model-val="vm.schedule.inRouteStartTime" type="datetime" on-date-changed="vm.scheduleTimeSpan.onInRouteTImeChanged()" format="vm.dateTimeFormat"></fp-date-time-component>
                  <!-- <input type="text" ng-if="vm.schedule.approve" class="transparent-background" disabled ng-model="vm.schedule.inRouteStartTime"
                  /> -->
                  <fp-date-time-renderer ng-if="vm.schedule.approve" model-val="vm.schedule.inRouteStartTime" format='vm.dateTimeFormat' type="datetime"></fp-date-time-renderer>
                </div>
                <div class="item item-input item-stacked-label">
                  <span class="input-label">In Route End</span>
                  <!-- <input type="text" ng-if="!vm.schedule.approve" class="transparent-background" mobiscroll-datetime="{display: 'bottom', dateFormat: 'mm/dd/yy', timeFormat: 'hh:ii A',onSelect:vm.scheduleTimeSpan.onInRouteTImeChanged}"
                    ng-model="vm.schedule.inRouteEndTime" />-->
                    <fp-date-time-component ng-if="!vm.schedule.approve" model-val="vm.schedule.inRouteEndTime" type="datetime" on-date-changed="vm.scheduleTimeSpan.onInRouteTImeChanged()" format="vm.dateTimeFormat"></fp-date-time-component>
                  <!-- <input type="text" ng-if="vm.schedule.approve" class="transparent-background" disabled ng-model="vm.schedule.inRouteEndTime"
                  />  -->
                  <fp-date-time-renderer ng-if="vm.schedule.approve" model-val="vm.schedule.inRouteEndTime" format='vm.dateTimeFormat' type="datetime"></fp-date-time-renderer>
                </div>
                <label class="item item-input">
                  <span class="input-label">Total Time</span>
                  <input type="text" ng-if="!vm.schedule.approve" class="transparent-background text-right" placeholder="Total Time" mobiscroll-timespan="{display: 'bottom',preset:'timespan',wheelOrder: 'hhii',onSelect:vm.scheduleTimeSpan.onInRouteTimespanChanged}"
                    ng-model="vm.scheduleTimeSpan.inRouteTimeSpan" />
                  <input type="text" ng-if="vm.schedule.approve" class="transparent-background text-right" disabled placeholder="Total Time"
                    ng-model="vm.scheduleTimeSpan.inRouteTimeSpan" />
                </label>
              </div>

            </div>
            <div class="list" ng-if="vm.uiSettings.billingOption == 1">
              <label class="item item-input">
                <span class="input-label">Actual Start Date</span>
                <!-- <input type="text" ng-if="!vm.schedule.approve" class="transparent-background text-right" mobiscroll-date="{display: 'bottom', dateFormat: 'mm/dd/yy'}"
                  ng-model="vm.schedule.actualStartDateTime" ng-change="vm.scheduleTimeSpan.onStartDateTimeChaged()" /> -->
                  <fp-date-time-component ng-if="!vm.schedule.approve" model-val="vm.schedule.actualStartDateTime" type="datetime" on-date-changed="vm.scheduleTimeSpan.onStartDateTimeChaged()" format="vm.dateTimeFormat" align-calendar></fp-date-time-component>
                <!-- <input type="text" ng-if="vm.schedule.approve" class="transparent-background text-right" disabled ng-model="vm.schedule.actualStartDateTime"
                /> -->
                <fp-date-time-renderer ng-if="vm.schedule.approve" model-val="vm.schedule.actualStartDateTimeString" format='vm.dateTimeFormat' type="datetime" align-calendar></fp-date-time-renderer>
              </label>

              <label class="item item-input" ng-repeat="cs in ::vm.schedule.customSchedules">
                <span class="input-label">{{::cs.fieldGivenName}}</span>
                <input type="text" ng-if="!vm.schedule.approve" class="transparent-background text-right" mobiscroll-numpad="{display: 'bottom',min:0,scale: 2,max:99999.99,preset:'decimal'}"
                  ng-model="cs.totalHours" ng-change="vm.tabs.sch.events.onCustomScheduleChanged(cs)" />
                <input type="text" ng-if="vm.schedule.approve" class="transparent-background text-right" disabled ng-model="cs.totalHours"
                />
              </label>


              <label class="item item-input">
                <textarea name="" id="" rows="6" placeholder="enter trip note here..." ng-model="vm.schedule.tripNote" ng-change="vm.tabs.sch.events.onTripnoteChanged()"
                  ng-model-options="{debounce:500}"></textarea>
              </label>
            </div>
          </div>
          <div class="card" ng-if="vm.uiSettings.milageTrackingEnabled">
            <div class="item item-divider header-dark">
              MILEAGE
              <!--<a class="button pull-right button-small button-icon icon ion-android-more-vertical button-small item-divider-left-buttion"
                ng-click="vm.tabs.sch.events.onMilageInformationActionButtonClicked()"></a>-->
            </div>
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                  Vehicle Number
                </div>
                <select ng-model="vm.schedule.numFromVehicles" ng-options="p.num as p.vehicleNumber for p in vm.vehicles">
                  <select>
              </label>
              <label class="item item-input">
                <span class="input-label">Start (Miles)</span>
                <input type="text" class="transparent-background text-right" mobiscroll-numpad="{display: 'bottom',min:0,scale: 0,max:999999.99,preset:'decimal'}"
                  ng-model="vm.schedule.startMiles" />
              </label>
              <label class="item item-input">
                <span class="input-label">End</span>
                <input type="text" class="transparent-background text-right" mobiscroll-numpad="{display: 'bottom',min:0,scale: 0,max:999999.99,preset:'decimal'}"
                  ng-model="vm.schedule.endMiles" />
              </label>
              <label class="item item-input">
                <span class="input-label">
                  <strong>Total</strong>
                </span>
                <input type="text" readonly="" class="transparent-background text-right" ng-model="vm.schedule.totalMiles" />
              </label>
            </div>
            <div class="padding">
              <button class="button button-block button-small button-dark" ng-click="vm.tabs.sch.events.updateMilage()">
                Update Mileage
              </button>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider header-dark">
              OTHER SCHEDULES IN THIS WORK ORDER
            </div>
            <div class="padding-left padding-right">
              <button class="button button-block button-small button-positive" ng-click="vm.tabs.sch.events.onSchedulesListButtonClicked()">
                <i class="ion ion-plus"></i>&nbsp;Add New Schedule
              </button>
            </div>
            <ion-list>
              <ion-item class="item item-text-wrap text-center" ng-if="vm.barCodeData.schedules.length <= 1">
                <h3 class="text-muted">
                  <strong>No Other Schedules</strong>
                </h3>
              </ion-item>
              <ion-item class="item-text-wrap" ng-if="vm.barCodeData.schedules.length > 1" ng-repeat="sch in vm.barCodeData.schedules"
                ng-click="vm.tabs.sch.events.onListScheduleItemTap(sch)" ng-class="{'active':vm.schedule.num === sch.num}">
                <h4>
                  <span class="text-muted">Sch Date :</span>
                  <!-- <strong>{{::sch.scheduledStartDateTime | date:'MM/dd/yyyy'}}</strong> -->
                  <fp-date-time-renderer model-val="sch.scheduledStartDateTime" type="datetime" format="vm.dateTimeFormat"></fp-date-time-renderer>&nbsp;
                  <span class="text-muted" ng-if="sch.actualStartDateTime">Actual Date : </span>
                  <strong ng-if="sch.actualStartDateTime">
                    <!-- {{::sch.actualStartDateTime | date:'MM/dd/yyyy'}} -->
                    <fp-date-time-renderer model-val="sch.actualStartDateTime" type="datetime" format="vm.dateTimeFormat"></fp-date-time-renderer>&nbsp;
                  </strong>
                  <strong class="text-info">{{::sch.technicianName}}</strong>
                  <span ng-if="sch.tripNote">: Trip Note - {{::sch.tripNote}}</span>
                </h4>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-tab>
      <ion-tab title="PRODUCTS" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-content direction="y">
          <div class="card">
            <div class="item item-divider">
              PRODUCTS
              <div class="pull-right">
                <scanner on-scanned="vm.onBarcodeScanned(skuCode)" button-label="Scan Product"></scanner>
                <button type="button" class="button button-small button-positive" ng-click="vm.tabs.prod.events.onProdcutActionButtonClicked()">Add
                  Product
                </button>
              </div>
            </div>
            <div class="item item-text-wrap text-center" ng-if="vm.barCodeData.products.length == 0 && !vm.gettingBarcodeDetails">
              <h3 class="text-muted">
                <strong>No product found</strong>
              </h3>
            </div>
            <div ng-if="vm.barCodeData.products.length > 0 && !vm.gettingBarcodeDetails" ng-repeat="p in vm.barCodeData.products">
              <div class="row n-p-b n-m-b">
                <div class="col col-50">
                  <h5>{{::p.productName}}</h5>
                </div>
                <div class="col col-25">
                  <h5 class="pull-right">
                    <strong>{{p.qty}}</strong>
                  </h5>
                </div>
                <div class="col col-25 text-right">
                  <h5 class="pull-right" ng-if="vm.user.showPrice">
                    <strong>
                      <fpcurrency-renderer model-val="p.price">
                      </fpcurrency-renderer>
                    </strong>
                  </h5>
                </div>
              </div>
              <div class="row n-p-t row-top border-bottom">
                <div class="col">
                  <small class="text-muted text-small">{{p.productDescription}}
                    <small>
                </div>
                <div class="col">
                  <button type="button" class="button icon ion-edit button-small text-energized" style="margin-top: -5px;float: left;" ng-if="!vm.isServiceProvider || sch.technicianNum == vm.userId"
                    ng-click="vm.tabs.prod.events.onEditProductClicked(p)"></button>
                  <button type="button" class="button icon ion-trash-b button-small text-assertive" style="margin-top: -5px;float: left;margin-left: 5px;"
                    ng-click="vm.tabs.prod.events.onDeleteProductClicked(p)"></button>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-tab>
      <ion-tab title="COMPONENTS" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline">
        <ion-content direction="y">
          <jobtype-list-component barcode="vm.barcode" jobtype="vm.barCodeData.barcodeDetails.excptns"></jobtype-list-component>
          <equipments-list-component ng-if="vm.uiSettings.showEquipmentTabControl" barcode="vm.barcode" uin="vm.barCodeData.barcodeDetails.uin"
            display-name="vm.barCodeData.barcodeDetails.displayName"></equipments-list-component>
          <expanse-expander-component ng-if="vm.uiSettings.expenseTrackingEnabled" barcode="vm.barcode"></expanse-expander-component>
        </ion-content>
      </ion-tab>
      <ion-tab title="SUMMARY" icon-on="ion-ios-calculator" icon-off="ion-ios-calculator-outline">
        <ion-content direction="y">
          <ion-list>
            <div class="card">
              <div class="item item-divider header-dark">
                <strong>INVOICE DETAILS</strong>
              </div>
              <div>
                <div class="list">
                  <div class="item item-stable">
                    <div class="row">
                      <div class="col col-50">Name</div>
                      <div class="col col-10" ng-if="vm.taxCheckboxVisibility">Tax</div>
                      <div class="col col-20 text-center">Qty</div>
                      <div class="col col-20">
                        <span class="pull-right">Total</span>
                      </div>
                    </div>
                  </div>
                  <div ng-repeat="inv in vm.barCodeData.invoice" class="item item-text-wrap">
                    <div class="row">
                      <div class="col col-50">
                        <h3>{{::inv.productName}}</h3>
                      </div>
                      <div class="col col-10" ng-if="vm.taxCheckboxVisibility">
                        <input type="checkbox" ng-model="inv.taxable" on-tap="vm.tabs.smry.events.onTaxCheckboaxChanged(inv)" />
                      </div>
                      <div class="col col-20 text-center">
                        <h3>{{inv.qty || 0}}</h3>
                      </div>
                      <div class="col col-20">
                        <h3 class="pull-right" ng-if="vm.user.showPrice">
                          <fpcurrency-renderer model-val="inv.totalPrice">
                          </fpcurrency-renderer>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-list>
          <div class="row" ng-if="vm.user.showPrice">
            <div class="col">
              <p>
                <h5>Subtotal
                  <span class="pull-right">
                    <fpcurrency-renderer model-val="vm.totals.subtotal">
                    </fpcurrency-renderer>
                  </span>
                </h5>
              </p>
              <p>
                <h5>Total Tax
                  <span class="pull-right text-muted">
                    <fpcurrency-renderer model-val="vm.totals.totaltax">
                    </fpcurrency-renderer>
                  </span>
                </h5>
              </p>
              <p>
                <h5>Total Amount
                  <span class="pull-right text-energized">

                    <fpcurrency-renderer model-val="vm.totals.subtotal + vm.totals.totaltax">
                    </fpcurrency-renderer>
                  </span>
                </h5>
              </p>
            </div>
          </div>
          <order-signature-component barcode="vm.barcode" is-estimate="false"></order-signature-component>
          <order-email-card-component barcode="vm.barcode" taxrate="vm.barCodeData.taxRate" default-emails="vm.barCodeData.barcodeDetails.address2_Group"
            show-price="vm.showPrice" hide-email-button="vm.uiSettings.hideEmailButton"></order-email-card-component>
          <order-images-list-component barcode="vm.barcode" is-estimate="false"></order-images-list-component>
          <order-documents-list-component barcode="vm.barcode"></order-documents-list-component>
          <div class="card">
            <div class="item item-divider header-dark">
              WORK STATUS
            </div>
            <div class="list">
              <div class="item item-input item-select">
                <div class="input-label">
                  Secondary Order Status
                </div>
                <select ng-model="vm.barCodeData.barcodeDetails.secondaryOrderStatus" ng-options="p.statusId as p.statusName for p in vm.scheduleStatus"
                  ng-change="vm.tabs.desc.events.onDescriptionOrResolutionChanged()">
                  <select>
              </div>
              <ion-toggle ng-model="vm.schedule.workComplete" toggle-class="toggle-balanced" ng-change="vm.tabs.sch.events.workCompleteChanged()">Work
                Complete
              </ion-toggle>
            </div>
          </div>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
<script id="editProductModal.html" type="text/ng-template">
	<ion-modal-view>
		<edit-product-component is-estimate="false" modal-type="0" product="vm.currentProduct" 
    enable-markup-orders="vm.enableMarkup"></edit-product-component>
	</ion-modal-view>
</script>
<script id="fulltextModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button type="button" ng-disabled="vm.popupDescriptionBoxType === 'DESCRIPTION' && !vm.user.allowUserToEditWoDescription" class="button button-small button-positive" ng-click="vm.tabs.events.updateClicked()">
              Update
            </button>
       <h1 class="title">
                {{vm.popModal.type}} 
            </h1>
            <button type="button" class="button button-small button-light" ng-click="vm.tabs.events.closePopoutModal()">
                Close
            </button>
    </ion-header-bar>
     <ion-content has-bouncing="true">
        <div class="row">
          <div class="col">
            <textarea rows="30" cols="5" style="width:100%;" 
            ng-model="vm.popModal.content"
            placeholder="{{vm.popModal.placeholder}}"></textarea>
          </div>
        </div>
       
     </ion-content>
  </ion-modal-view>
</script>
<script id="addProductModal.html" type="text/ng-template">
	<ion-modal-view>
		<edit-product-component is-estimate="false" modal-type="1" 
		product="vm.currentProduct" on-add-product-completed="vm.events.onAddProductCompleted(product)" 
    enable-markup-orders="vm.enableMarkup"></edit-product-component>
	</ion-modal-view>
</script>
<script id="workOrderMap.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
            <h1 class="title">
                {{::vm.barCodeData.barcodeDetails.barcodeName}} 
            </h1>
            <button type="button" class="button button-small button-light" ng-click="vm.tabs.desc.events.closeWorkOrderMapModal()">
                Close
            </button>
              </ion-header-bar>
              <ion-content>
                <div id="map" style="height:100%;width:100%;" tap-disabled="true"></div>
              </ion-content>
              </ion-modal-view>
              </script>