<div class="card">
  <div class="item item-divider" style="display: flex;
  align-items: center;
  justify-content: space-between;">
    <small style="float:left;">
      <i class="icon ion-clock"></i>&nbsp;
      {{::vm.odr.WorkPerformedDate | date:'hh:mm a'}}, {{::vm.odr.WorkPerformedDate | date:'EEE'}}

      <b>{{::vm.odr.WorkPerformedDate | date:'dd MMMM'}}</b></small>
    <small style="float:right;">
      <div style="display: flex;align-items: center;justify-self: end;min-height: 25px;
      height: 25px;">
        <button class="button button-icon icon ion-edit button-font-small"
          ng-if="(vm.userInfo.isAdminstrator && !vm.odr.WorkComplete) || (!vm.odr.WorkComplete && vm.allowedForSp)"
          style="margin-right:10px" ng-click="vm.events.onEditButtonClicked()"></button>
        <button class="button button-icon icon ion-trash-b button-font-small"
          ng-if="!vm.odr.BarcodeComplete && (vm.userInfo.isAdminstrator || vm.allowedForSp)"
          ng-click="vm.events.onDeleteButtonClicked()"></button>

      </div>
    </small>
  </div>
  <div class="item item-text-wrap">
    <span class="label label-success">{{::vm.odr.BarcodeName}}</span>
    <div class="padding-top">
      <h3>
      <display-name display-name="::vm.odr.DisplayName"></display-name>
      </h3>
      <address>
        <p>
          <strong>{{::vm.odr.Company_Name}}</strong>
        </p>
        <p>{{::vm.odr.Street}}</p>
        <p>{{::vm.odr.CityStateZip}}</p>
        <p ng-if="vm.odr.WorkOrderDescription">
          <small class="text-italic text-muted">
            <i><strong>Description : </strong>{{::vm.odr.WorkOrderDescription}}</i>
          </small>
        </p>
      </address>
    </div>
  </div>
  <div class="item item-divider">
    <button class="button button-small button-calm" type="button"
      ng-if="!vm.odr.JobAcceptanceStatus && vm.trackJobStatus && !vm.odr.WorkComplete && vm.odr.TechnicianNum == vm.userInfo.userEmail"
      ng-click="vm.events.acceptJob()">
      Accept
    </button>
    <button class="button button-small button-assertive" type="button" ng-if="vm.odr.JobAcceptanceStatus && vm.trackJobStatus && !vm.odr.WorkComplete &&
      vm.odr.TechnicianNum == vm.userInfo.userEmail" ng-click="vm.events.unAcceptJob()">
      un-Accept
    </button>
    <button class="button button-small button-calm" type="button" ng-disabled="vm.odr.InRoute" ng-if="!vm.forIntegrityCustomer && !vm.isTrafficControllerCustomer && vm.trackJobStatus && !vm.odr.WorkComplete && vm.odr.TechnicianNum ==
      vm.userInfo.userEmail" ng-click="vm.events.inRouteClicked()">
      In Route
    </button>
    
    <button ng-if="!vm.odr.BarcodeComplete" class="button  button-small button-fieldpro pull-right" ng-click="vm.events.onOrderClicked()">
      <i class="icon ion-arrow-right-a"></i>
    </button>
    <button ng-if="vm.odr.BarcodeComplete"  ng-disabled="vm.reopeningBarcode" class="button  button-small button-fieldpro pull-right" ng-click="vm.events.onReopenOrderClicked()">
      Reopen Work Order
     </button>
  </div>
  </ion-card>
</div>
