<div data-ng-if="vm.showImageUpload">
    <div style="display: none;">
        <input type="file" name="file" data-kendo-upload="vm.imageUploader.control" id="upload-image" data-k-options="vm.imageUploader.config"
            accept="image/*" />
    </div>
    <button class="button button-small button-dark" on-tap="vm.events.uploadImageClicked()">Upload Picture</button>
    <button class="button button-small button-positive" on-tap="vm.events.takePictureClicked()">
        <i class="icon ion-camera"></i> Take Picture
    </button>
</div>
<li class="item" data-ng-if="!vm.showImageUpload" style="border: none;padding-left: 0px;">
    <a on-tap="vm.events.showImageClick()">{{vm.ctEntity.value}}</a>
</li>