.message-count-container {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: yellow;
  display: flex;
  justify-content: center;
  padding: 3px;
  z-index: 10; }
  .message-count-container span {
    margin-left: 0px !important;
    font-size: 10px; }

.messages-container {
  display: flex;
  height: 100%;
  flex-direction: column; }
  .messages-container ion-content.has-header {
    top: 55px; }

.chat-header {
  flex: none;
  /* 2 */
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: whitesmoke;
  border-bottom: 1px solid #e6e6e6; }
  .chat-header .title {
    margin-left: 10px; }
  .chat-header .header-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px; }

.chat-body {
  flex: 1 0 auto;
  width: 100%;
  flex-grow: 1;
  overflow: auto; }
  .chat-body ion-content.has-footer {
    bottom: 65px; }
  .chat-body .item {
    padding: 10px;
    padding-left: 16px; }

.full-height {
  height: 100%; }

.chat-footer {
  flex: none;
  /* 2 */
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: whute;
  border-top: 1px solid #e6e6e6; }

.footer-controls-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center; }
  .footer-controls-container div:first-child {
    width: 85%; }
    .footer-controls-container div:first-child input[type="text"] {
      width: 100%;
      margin-left: 5px; }
  .footer-controls-container div:not(:first-child) {
    display: flex;
    width: 15%;
    justify-content: flex-end; }

.center-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%; }

.empty-message {
  color: #a2a2a2;
  font-size: 2rem;
  font-weight: 100; }

.chat-messages-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 100%;
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px; }

.chat-message-main {
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 0.5rem !important; }

.chat-message-body {
  -webkit-box-flex: 1;
  flex: 1;
  width: 65% !important; }

.chat-position-left {
  display: flex;
  justify-content: flex-end; }

.chat-message {
  margin-bottom: 0.25rem;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  position: relative;
  border-radius: 0.375rem !important; }

.chat-message-time {
  display: flex;
  justify-content: flex-end;
  font-size: 10px; }

.chat-left-true {
  background-color: #edf2f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
  .chat-left-true .chat-message-time {
    color: #9e9e9e; }
  .chat-left-true .tag {
    font-weight: 700;
    color: #668d9d;
    font-style: normal;
    cursor: pointer; }

.chat-left-false {
  color: white;
  background-color: #668d9d;
  box-shadow: rgba(138, 138, 138, 0.55) 0px 4px 6px -1px, rgba(83, 117, 130, 0.78) 0px 2px 4px -1px; }
  .chat-left-false .tag {
    font-weight: 700;
    color: #c4ffbc;
    font-style: normal;
    cursor: pointer; }
